numpy
pandas
seaborn
matplotlib
scikit-learn
scipy
streamlit
ipykernel
xgboost
tensorflow
langchain
groq
langchain-groq
python-dotenv
BeautifulSoup4
googlesearch-python
requests
python-whois
